<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yc.sleepmm">

    <application
        android:name=".base.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".main.ui.activity.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--需要响应music_lib的点击通知Action事件-->
                <action android:name="com.music.player.action" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.ys.location.category" />
            </intent-filter>
        </activity>
        <!--登录、注册、找回密码-->
        <activity
            android:name=".index.ui.activity.LoginGroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTransparentStyle">

        </activity>

        <activity android:name=".vip.ui.activity.VipActivity" />
        <!--单个Activity主题-->
        <activity
            android:name=".index.ui.activity.MusicPlayerSample"
            android:theme="@style/FullScreenTransparentStyle"></activity>
        <activity
            android:name=".sleep.ui.SleepDetailActivity"
            android:theme="@style/FullScreenTransparentStyle"></activity>
        <activity
            android:name=".setting.ui.activity.UserKeepActivity"
            android:theme="@style/FullScreenTransparentStyle"></activity>
        <activity
            android:name=".vip.ui.activity.VipProtocolActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".setting.ui.activity.FindCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.ui.activity.SkinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.ui.activity.OptionFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setting.ui.activity.SystemSettingActivity"
            android:screenOrientation="portrait" />
        <!--友盟-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a684f2ab27b0a360100010b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="app_online" />
    </application>

</manifest>